{% load static %}

<footer class="bg-dark text-center text-lg-start text-white">
  <!-- Grid container -->
  <div class="container p-4 d-flex justify-content-center">
    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
      <div
        class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto"
        style="width: 150px; height: 150px"
      >
        <img
          src="{% static 'img/footer.png'%}"
          height="233"
          alt=""
          loading="lazy"
        />
      </div>

      <p class="text-center">
        Homless animal shelter The budgetary unit of the Capital City of Warsaw
      </p>

      <ul class="list-unstyled d-flex flex-row justify-content-center">
        <li>
          <a class="text-info px-2" href="#!">
            <i class="uil uil-facebook-f"></i>
          </a>
        </li>
        <li>
          <a class="text-success px-2" href="#!">
            <i class="uil uil-whatsapp-alt"></i>
          </a>
        </li>
        <li>
          <a class="text-danger ps-2" href="#!">
            <i class="uil uil-youtube"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2022 Copyright:
    <a class="text-white" href="#">NewBie.com</a>
  </div>
  <!-- Copyright -->
</footer>
